<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.gyx.graduationdesign.dao.QuestionMapper">
  <resultMap id="BaseResultMap" type="per.gyx.graduationdesign.entity.Question">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="Topic" jdbcType="VARCHAR" property="topic" />
    <result column="Msg" jdbcType="VARCHAR" property="msg" />
    <result column="Ans" jdbcType="VARCHAR" property="ans" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, UserName, Topic, Msg, Ans
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Question
    where ID = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByUserName" resultType="per.gyx.graduationdesign.entity.Question">
      select *
      from Question
      where username=#{userName,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultType="per.gyx.graduationdesign.entity.Question">
      select *
      from Question
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Question
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="per.gyx.graduationdesign.entity.Question">
    insert into Question (ID, UserName, Topic, 
      Msg, Ans)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{topic,jdbcType=VARCHAR}, 
      #{msg,jdbcType=VARCHAR}, #{ans,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="per.gyx.graduationdesign.entity.Question">
    insert into Question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="username != null">
        UserName,
      </if>
      <if test="topic != null">
        Topic,
      </if>
      <if test="msg != null">
        Msg,
      </if>
      <if test="ans != null">
        Ans,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="ans != null">
        #{ans,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="per.gyx.graduationdesign.entity.Question">
    update Question
    <set>
      <if test="username != null">
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        Topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        Msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="ans != null">
        Ans = #{ans,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="per.gyx.graduationdesign.entity.Question">
    update Question
    set UserName = #{username,jdbcType=VARCHAR},
      Topic = #{topic,jdbcType=VARCHAR},
      Msg = #{msg,jdbcType=VARCHAR},
      Ans = #{ans,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateAnsById">
    update Question
    set Ans=#{ans}
    where ID=#{id}
  </update>
</mapper>