<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.gyx.graduationdesign.dao.UserMapper">
  <resultMap id="BaseResultMap" type="per.gyx.graduationdesign.entity.User">
    <id column="userName" jdbcType="VARCHAR" property="username" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="type1" jdbcType="INTEGER" property="type1" />
    <result column="type2" jdbcType="INTEGER" property="type2" />
    <result column="type3" jdbcType="INTEGER" property="type3" />
    <result column="type4" jdbcType="INTEGER" property="type4" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <sql id="Base_Column_List">
    userName, date, score, type1, type2, type3, type4, address, phone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from UserRecord
    where userName = #{username,jdbcType=VARCHAR}
  </select>
    <select id="selectUserRecordByUserName" resultType="per.gyx.graduationdesign.entity.User">
      select *
      from UserRecord
      where userName= #{userName,jdbcType=VARCHAR}
    </select>
    <select id="selectUserInfo" resultType="per.gyx.graduationdesign.entity.User">
      select *
      from UserRecord
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from UserRecord
    where userName = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="per.gyx.graduationdesign.entity.User">
    insert into UserRecord (userName, date, score, 
      type1, type2, type3, 
      type4, address, phone
      )
    values (#{username,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, #{score,jdbcType=INTEGER}, 
      #{type1,jdbcType=INTEGER}, #{type2,jdbcType=INTEGER}, #{type3,jdbcType=INTEGER}, 
      #{type4,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="per.gyx.graduationdesign.entity.User">
    insert into UserRecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        userName,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="type1 != null">
        type1,
      </if>
      <if test="type2 != null">
        type2,
      </if>
      <if test="type3 != null">
        type3,
      </if>
      <if test="type4 != null">
        type4,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="type1 != null">
        #{type1,jdbcType=INTEGER},
      </if>
      <if test="type2 != null">
        #{type2,jdbcType=INTEGER},
      </if>
      <if test="type3 != null">
        #{type3,jdbcType=INTEGER},
      </if>
      <if test="type4 != null">
        #{type4,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="per.gyx.graduationdesign.entity.User">
    update UserRecord
    <set>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="type1 != null">
        type1 = #{type1,jdbcType=INTEGER},
      </if>
      <if test="type2 != null">
        type2 = #{type2,jdbcType=INTEGER},
      </if>
      <if test="type3 != null">
        type3 = #{type3,jdbcType=INTEGER},
      </if>
      <if test="type4 != null">
        type4 = #{type4,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
    </set>
    where userName = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="per.gyx.graduationdesign.entity.User">
    update UserRecord
    set date = #{date,jdbcType=TIMESTAMP},
      score = #{score,jdbcType=INTEGER},
      type1 = #{type1,jdbcType=INTEGER},
      type2 = #{type2,jdbcType=INTEGER},
      type3 = #{type3,jdbcType=INTEGER},
      type4 = #{type4,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR}
    where userName = #{username,jdbcType=VARCHAR}
  </update>
</mapper>